.box {
  background-color: cadetblue;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 30px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box:nth-child(2) {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

input.active {
  background: yellow;
}
