.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.todo__desc--done {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo__desc {
  font-weight: 400;
  transition: 0.3s ease;
  font-size: 14px;
  padding-left: 10px;
  letter-spacing: 0.5px;
}

.todo__list {
  background: rgb(219 204 172);
  width: 500px;
  border-radius: 10px;
  list-style: none;
  padding: 20px 20px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__item .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 12px 0;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

form {
  display: flex;
}

.todo__item form input {
  border: 1px solid rgb(236, 213, 213);
  outline: 0;
  padding: 10px;
  width: 450px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  transition: 0.3s ease;
  font-size: 14px;
  counter-reset: #ccc;
}

.todo__item form input:active {
  border: 1px solid rgb(51, 51, 223);
}

button[type="submit"] {
  border: 0;
  outline: 0;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  width: 60px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: cadetblue;
  color: #fff;
  font-weight: 500;
  font-weight: bold;
  font-size: 16px;
}

button[type="submit"]:hover {
  opacity: 0.7;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-right: 10px;
}

.control button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
  border: 0;
  outline: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control :hover {
  opacity: 0.7;
}

.control .btn-reset {
  background: rgb(41, 182, 48);
}

.control .btn-delete {
  background: rgb(224, 42, 42);
}

.control .btn-complete {
  background: rgb(29, 55, 207);
}
