.product__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: #ddd;
  border: 1px solid #aeaeae;
  padding: 20px;
  margin: 0 10px;
}

.product__item {
  background: rgb(63, 63, 179);
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
